.footer {
  /*position: fixed;*/
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 15%;
  background: rgb(2, 18, 22);
}

.social__links {
  font-weight: bold;
  color: white;
  font-size: 25px;
}

div.carouselExampleIndicators {

  size: 60cm;
  align-content: center;
  margin: 2cm;
} 

.d-block{
  height: 50;
  width: 50;
}

body
{
    font-family: sans-serif;
}

.text-center
{
    text-align: left;
    margin-top: 40;
    text-size-adjust: 30;
    vertical-align: 10cm;
    padding-top: 2cm;
}

.col-md-4
{
  padding-bottom: 2cm;
}
.text-right
{
  font-size: 0.5cm;
}
.text-left
{
  font-size: 0.5cm;
  image-resolution: 400;
}

.w3-center{
  padding-top: 1.5cm;
}

.rating
{
  font-size: 0.5cm;
  color: gold;
}

